<div class="home-container">
  <div class="top-home">
    <h1>Pokegg</h1>
  </div>
  <div class="middle-home">
    <%= link_to "Buy Pokeggs", pokeggs_path, class: "btn btn-primary my-4" %>
  </div>
  <div class="bottom-page">
    <div class="text-pikachu">
      <p> First, second, third and fourth generation!</p>
      <%= image_tag "pikachu.png", width: 150, height: 150 %>
    </div>
    <div id="region-kanto"> Kanto</div>
    <div id="region-johto"> Johto</div>
    <div id="region-hoenne"> Hoenne</div>
    <div id="region-shinnoh"> Shinnoh</div>
  </div>

</div>
