.pokegg-feu-card {
  color: #f49d53;
  border: 1px solid #f49d53;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.pokegg-eau-card {
  color: #4e91d7;
  border: 1px solid #4e91d7;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.pokegg-plante-card {
  color: #7cc876;
  border: 1px solid #7cc876;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.pokegg-insecte-card {
  color: #92c22b;
  border: 1px solid #92c22b;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.pokegg-electricite-card {
  color: #f5d33a;
  border: 1px solid #f5d33a;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.pokegg-roche-card {
  color: #c6b88d;
  border: 1px solid #c6b88d;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.pokegg-sol-card {
  color: #da7943;
  border: 1px solid #da7943;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.pokegg-dragon-card {
  color: #146dc5;
  border: 1px solid #146dc5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.pokegg-fee-card {
  color: #ed90e7;
  border: 1px solid #ed90e7;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.pokegg-tenebre-card{
  color: #585164;
  border: 1px solid #585164;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.pokegg-spectre-card {
  color: #5169af;
  border: 1px solid #5169af;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.pokegg-psy-card{
  color: #ef6f79;
  border: 1px solid #ef6f79;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.pokegg-normal-card {
  color: #919ba2;
  border: 1px solid #919ba2;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.pokegg-combat-card {
  color: #d0426b;
  border: 1px solid #d0426b;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.pokegg-glace-card {
  color: #73d0c2;
  border: 1px solid #73d0c2;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.pokegg-poison-card {
  color: #ab6bca;
  border: 1px solid #ab6bca;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.pokegg-vol-card{
  color: #8fa9df;
  border: 1px solid #8fa9df;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.pokegg-acier-card {
  color: #598fa4;
  border: 1px solid #598fa4;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
